html{
    background-color:black;
    overflow-x: hidden;
    
}
.my-navbar{
    background-color:black;
}
.my-navbar{
    
    width: 20%;
height: 105vh;
overflow-y: auto;
position: sticky;
left: 0px;
transition: all 1s ease;
}

.home{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
   
    transition: all 0.5s ease-out; 
}
.home:hover{
    color:#9aedb7;
    background-color: #535353;
}

.home>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.search{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
    transition: all 0.5s ease-out; 
    
}
.search:hover{
    color:#1ED760;
    background-color: #535353;
}
.search>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.library{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
    transition: all 0.5s ease-out; 
    
}
.library:hover{
    color:#1ED760;
    background-color: #535353;
}
.library>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.my-playlist{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
    margin-top: 30px;
    transition: all 0.5s ease-out; 
    
    
}
.my-playlist:hover{
    color:#1ED760;
    background-color: #535353;
}
.my-playlist>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.playlistimg{
    background-color: white;
    width: 29.645px;
height: 29.645px;
flex-shrink: 0;
    

}
.liked{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
    transition: all 0.5s ease-out; 
    
    
}
.liked:hover{
    color:#1ED760;
    background-color: #535353;
}
.liked>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.heart{
    
    
background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
width: 30px !important;
height: 29.645px;
margin-left: 0px ;
align-items: center !important;
justify-content: center !important;
border-radius: 2px;

}
.episodes{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
    margin-bottom: 30px;
    transition: all 0.5s ease-out; 
    
    
}
.episodes:hover{
    color:#1ED760;
    background-color: #535353;
}
.episodes>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.episodeimg{
    
    
background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
width: 30px !important;
height: 29.645px;
margin-left: 0px ;
align-items: center !important;
justify-content: center !important;
border-radius: 2px;

}
li{
    color: #FFF;
font-family: DM Sans;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.997px;
list-style: none;
margin-bottom: 18.53px;
transition: all 0.5s ease-out; 
}
li:hover{
    
    background-color: #535353;
}
.list{
    
    margin-top: 7px;
}
.install{
    margin-inline: auto;
    padding-left:2vw;
    color:white;
    margin-top: 30px;
    transition: all 0.5s ease-out;
    
}
.install:hover{
    color:#1ED760;
    background-color: #535353;
}
.install>p{
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-top:7px;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.14px;
}
.my-page{
    background: linear-gradient(180deg, #90AEA7 0%, #000 100%);
    
    flex-shrink: 0;
    width: 80vw;
    overflow-x: hidden;
    
}
.my-page::-webkit-scrollbar{
    display: none;
}
.img{
    margin-top: 10vh;
    
}
#play{
    color: #FFF;
    font-family: Circular Std;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.26px;  
    margin-top: 17vh;
}
.heading>h1{
    color: #FFF;
    font-family: Circular Std;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.8px; 
}
.heading>p{
    color: #FFF;
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.9%; /* 20.566px */
    letter-spacing: -0.28px;
}
#spot{
    color: #FFF;
    font-family: Circular Std;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.9%; /* 22.035px */
    letter-spacing: -0.3px; 
    margin-right: 2px;
}
.faded-text{
    opacity: 0.699999988079071;
    color: #FFF;
font-family: Circular Std;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}
.imgg{
    padding-bottom: 1vw;
}
.container-2{
    background: rgba(0, 0, 0, 0.4);
    
    
    width: 1690px;
height: 585px;
flex-shrink: 0;
position: sticky;



}
.headerrow{
 
    position: relative;
    width: 10vw;
    padding-top: 2vw;
    padding-left: 2vw;
    
}
.title{
    width: 70vw;
    height: 20px;
    text-decoration: line-through;
    margin-left: 3vw;
    
}
th{
    color: #FFF;
    font-family: Circular Std;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.32px; 
    width: 35.3px;
height: 15.514px;
flex-shrink: 0;
margin-right: 0px;


}
#dt{
    margin-left: 5vw;
}
.line1{
    width: 1633px;
height: 1px;
position:sticky;
bottom: 25vw;
}
.txt2{
margin-left: 0px;
width: 2vw;


}
.txt3{
    width: 15vw;
    
}
.tet{
    color: #FFF;
    font-family: Circular Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.188px  
    

}
.authorname{
    color: #FFF;
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
table{
    margin-top: 2vw;
    margin-left: 2vw;
    width: 77vw;
    background-color: transparent;
   
    
    
}
td{
    height: 5vw;
    align-items: center;
    justify-content: center;
    

    
}
.textt{
    padding-top: 1vw;
    padding-left: 1vw;
}
.content>img{
    margin-left: 1vw;
}
.td2{
    padding-top: 1vw;
    text-align: left;
    
}
#title{
    padding-left: 5vw;
}
tr{
    overflow-y:hidden;
    transition: all 0.5s ease-out;
}
tr:hover{
    
    background-color: #535353;
    
}
.cont>svg{
    margin-right: 1vw;
}
.cont>p{
    margin-right: 1vw;
    padding-top: 10px;
}



.musicPlayer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8vh;
    flex-shrink:0;
    background:#181818;
    margin-bottom: px;



 }
 .f-img{
    width: 62.967px;
    height: 70px;
    flex-shrink: 0; 
 }
 .f-left>p{
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px; 
    margin-top: 2px;
    margin-left: 35px;
    margin-right: 20px;
 }
 .fcenter{
    position:fixed;
    bottom: 22px;
    left:50%;
 }
 #neff{
    color: #B3B3B3;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.75px; 
 }
 .line{
    border-radius: 2.5px;
    background: #535353;  
    width: 511px;
    height: 5px;
    flex-shrink: 0;
    color:white;
    
    position: fixed;
    bottom: 15px;
    right: 625px;

    
         }
 #time{
    color: #C4C4C4;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.56px;
position: fixed;
bottom: px;
right: 61%;

 }
 #time2{
    position:fixed;
    
    color: #C4C4C4;
    right:570px;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.56px;
 }
 .f-right{
    gap: 14px;
    position: fixed;
    left:85vw;
    bottom: 2vw;
    
    margin-right: 3vw;
    margin-top: 1vw;
    flex-shrink: 0;
    
 }
 .line2{
    border-radius: 2.5px;
    background: #C4C4C4;
    width: 104.346px;
height: 5px;
flex-shrink: 0;

 }
 .mute{
    width: 21.589px;
height: 24px;
flex-shrink: 0;

 }
 .st{
    position: relative;
    top: 0px;
    left: 0px;
 }
 .overlay{
    position:fixed;
    bottom: 18px;
 }
 .greenf{
    display: flex;
    overflow-y: hidden;
    width: 1728px;
height: 30px;
flex-shrink: 0;
background: #1ED760;
position:fixed;
bottom: 0px;
width: 100vw;
align-items: center;
padding-top: 1px;
border: 0px;
 }
 #fwrit{
    color: #000;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    margin-left: 1vw;
    padding-top: 1vw;
    
 }
 .greenf>img{
    margin-left: 1vw;
    height: 2vh;
    margin-left: 70vw;
    margin-top: 0px;
 }
 *{
    margin:0px;
    padding:0px;
 }

 
 
 

